/* This is the main folder for css for LANDING PAGE ONLY! */
*{ 
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
header{
    display: flex;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(47, 47, 247);
    padding: 18px;
    margin: 5px;
    color: rgb(234, 255, 5);
    font-family: sans-serif; 
    font-size: 32px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    border: 5px groove rgb(191, 208, 0);
    border-radius: 15%;
    
}
body{
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/3a/0b/40/3a0b40d96c53860572a1c29970ce14a8.gif);
}

footer{
    position: absolute;
    background-color: rgb(47, 47, 247) ;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color:  rgb(47, 47, 247);
    border: 2px solid rgb(191, 208, 0);
    border-radius: 10%;
}

#introMsg{
    color: rgb(234, 255, 5);
    text-align: center;
    margin-top: 60px;
}

.game{
    display: flexbox;
    flex-basis: 100%;
    flex-direction: column;
    background-color: black;
    color:rgb(234, 255, 5);
    border: 3px solid blue;
    border-radius: 5%;
    max-height: 180px;
    min-height: 180px;
    text-align: center;
    margin: 9px;
    max-width: 180px;

}

#items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    
}
.item-image{
    max-width: 160px;
    max-height: 150px;
    min-height: 150px;
    border: 2px solid yellow;
}

.playButton{
    margin-top: 10px;
    background-color: rgb(47, 47, 247);
    color: yellow;
    border-radius: 15%;
    font-size: 20px;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#footerMsg{
    color: yellow;
    text-align: center;
}